{% extends "base.html" %} <!-- Наследуемся от базового шаблона base.html -->
{% block title %}Создание нового проекта{% endblock %} <!-- Задаем заголовок страницы -->
{% block content %} <!-- Задаем содержимое страницы -->
<h1>Создание нового проекта</h1> <!-- Заголовок первого уровня -->
<form method="post"> <!-- Начало формы для отправки данных методом POST -->
  {% csrf_token %} <!-- Тег для генерации токена для предотвращения CSRF-атак -->
  {{ form.as_p }} <!-- Выводим поля формы в виде параграфов -->
  <button type="submit" class="btn btn-primary">Сохранить проект</button> <!-- Кнопка для отправки формы с классом btn btn-primary для стилизации -->
</form> <!-- Конец формы -->
<a href="{% url 'index' %}" class="btn btn-secondary">Вернуться к списку проектов</a> <!-- Ссылка на главную страницу со списком проектов с классом btn btn-secondary для стилизации -->
{% endblock %} <!-- Конец блока содержимого -->
