{% extends "base.html" %} <!-- Наследуемся от базового шаблона base.html -->
{% block title %}Удаление проекта{% endblock %} <!-- Задаем заголовок страницы -->
{% block content %} <!-- Задаем содержимое страницы -->
<h1>Удаление проекта</h1> <!-- Заголовок первого уровня -->
<h2>{{ project.title }}</h2> <!-- Заголовок второго уровня с названием проекта -->
<p>Вы действительно хотите удалить этот проект?</p> <!-- Параграф с вопросом о подтверждении удаления -->
<form method="post"> <!-- Начало формы для отправки данных методом POST -->
  {% csrf_token %} <!-- Тег для генерации токена для предотвращения CSRF-атак -->
  <button type="submit" class="btn btn-danger">Да, удалить проект</button> <!-- Кнопка для подтверждения удаления с классом btn btn-danger для стилизации -->
</form> <!-- Конец формы -->
<a href="{% url 'detail' project.id %}" class="btn btn-secondary">Нет, вернуться к деталям проекта</a> <!-- Ссылка на страницу с детальной информацией о проекте с классом btn btn-secondary для стилизации -->
<a href="{% url 'index' %}" class="btn btn-secondary">Нет, вернуться к списку проектов</a> <!-- Ссылка на главную страницу со списком проектов с классом btn btn-secondary для стилизации -->
{% endblock %} <!-- Конец блока содержимого -->
