{% extends "base.html" %} <!-- Наследуемся от базового шаблона base.html -->
{% block title %}Детали проекта{% endblock %} <!-- Задаем заголовок страницы -->
{% block content %} <!-- Задаем содержимое страницы -->
<h1>Детали проекта</h1> <!-- Заголовок первого уровня -->
<h2>{{ project.title }}</h2> <!-- Заголовок второго уровня с названием проекта -->
<p>Студент: {{ project.student.name }}</p> <!-- Параграф с именем студента, выполняющего проект -->
<p>Аннотация: {{ project.annotation }}</p> <!-- Параграф с аннотацией проекта -->
<a href="{% url 'update' project.id %}" class="btn btn-warning">Редактировать проект</a> <!-- Ссылка на страницу для редактирования проекта с классом btn btn-warning для стилизации -->
<a href="{% url 'delete' project.id %}" class="btn btn-danger">Удалить проект</a> <!-- Ссылка на страницу для удаления проекта с классом btn btn-danger для стилизации -->
<a href="{% url 'index' %}" class="btn btn-secondary">Вернуться к списку проектов</a> <!-- Ссылка на главную страницу со списком проектов с классом btn btn-secondary для стилизации -->
{% endblock %} <!-- Конец блока содержимого -->
