{% extends "base.html" %} <!-- Наследуемся от базового шаблона base.html -->
{% block title %}Список проектов{% endblock %} <!-- Задаем заголовок страницы -->
{% block content %} <!-- Задаем содержимое страницы -->
<h1>Список проектов</h1> <!-- Заголовок первого уровня -->
<ul> <!-- Начало списка -->
{% for project in projects %} <!-- Цикл по списку проектов из контекста -->
<li> <!-- Элемент списка -->
<a href="{% url 'detail' project.id %}">{{ project.title }}</a> <!-- Ссылка на страницу с детальной информацией о проекте -->
</li>
{% endfor %} <!-- Конец цикла -->
</ul> <!-- Конец списка -->
<a href="{% url 'create' %}" class="btn btn-primary">Создать новый проект</a> <!-- Ссылка на страницу для создания нового проекта -->
{% endblock %} <!-- Конец блока содержимого -->
